body {
    padding-bottom: 200px;
}

header {
    background: lightgrey;
    padding: 10px 0;
    margin-bottom: 10px;
}

.stage {
    padding-top: 10px;
}

.header-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.add-player-btn {
    margin: 0 10px 10px 0;
}

.scores {
    display: flex;
    padding-top: 20px;
    position: fixed;
    bottom: 0;
    background: lightgrey;
    width: 100%;
}

.scores-title {
    margin-right: 20px;
}

.btn-bid {
    margin: 0 10px 10px 0;
}

.player-tricks-row {
    margin-bottom: 10px;
}

.player-tricks-count {
    display: inline-block;
    width: 40px;
    text-align: center;
}

.player-tricks-scoring-controls .btn {
    width: 38px;
}