body {
    padding-bottom: 200px;
}

header {
    background: lightgrey;
    padding: 10px 0;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.5rem;
}

.stage {
    padding-top: 10px;
}

.header-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2rem;
}

.add-player-btn {
    margin: 0 10px 10px 0;
}

.scores {
    display: flex;
    padding-top: 10px;
    position: fixed;
    bottom: 0;
    background: lightgrey;
    width: 100%;
}

.scores-list {
    margin-bottom: 10px;
    column-count: 2;
    list-style-type: none;
    padding: 0;
}

.btn-bid {
    margin: 0 10px 10px 0;
}

.player-tricks-row {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 40px;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 10px;
}

.player-tricks-count {
    display: inline-block;
    width: 40px;
    text-align: center;
}

.player-tricks-scoring-controls .btn {
    width: 38px;
}

.modal {
    display: block;
}

.new-game-btn {
    align-self: center;
}

@media only screen
and (max-device-width : 320px) {
    body {
        padding-bottom: 120px;
    }

    header {
        padding: 5px 0;
    }

    .header-title {
        font-size: 2rem;
    }

    .scores-title {
        display: none;
    }

    .player-tricks-row {
        margin-bottom: 5px;
        padding-bottom: 5px;
    }

    .extended-new-game-btn-content {
        display: none;
    }
}